 /* Kartet skal ta opp hele skjermen */
 #map { height: 100vh; }

 /* Stil for tegnforklaring */
 .legend {
     background: white;
     padding: 10px;
     border-radius: 5px;
     line-height: 18px;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }
 .legend i {
     width: 12px;
     height: 12px;
     display: inline-block;
     margin-right: 5px;
 }
 /* Stil for knappen */
 #showRouteInfo, #showRoute {
    position: absolute;
    top: 10px;
    right: 10px; /* Flytt knappene til høyre */
    z-index: 1000;
    color: white; /* Hvit tekst */
    border: none; /* Fjern kantlinje */
    border-radius: 5px; /* Runde hjørner */
    padding: 10px 15px; /* Polstring */
    font-size: 14px; /* Tekststørrelse */
    cursor: pointer; /* Endre musepekeren til hånd */
    box-shadow: 0 4px 6px rgb(253, 252, 252); /* Skygge */
    transition: background-color 0.3s ease; 
}

/* Legg til spesifikk plassering for hver knapp */
#showRouteInfo {
    top: 10px; /* Øverst */
    background-color: #0074D9;
}

#showRoute {
    top: 50px;
    background-color: #0b0a0a;
}