 /* Kartet skal ta opp hele skjermen */
 #map { 
    height: 100vh;
    width: 100vw; 
}

 /* Stil for tegnforklaring */
 .legend {
     background: white;
     padding: 10px;
     border-radius: 5px;
     line-height: 18px;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }
 .legend i {
     width: 12px;
     height: 12px;
     display: inline-block;
     margin-right: 5px;
 }
 #menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#toggleMenu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0074D9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#menuContent {
    position: absolute; /* Sørg for at menyen ikke påvirker knappen */
    top: 40px; /* Plasser menyen rett under knappen */
    right: 0;
    display: none; /* Skjul menyen som standard */
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px; /* Sett en bredde som passer til knappene */
}

#menuContent button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: #0074D9;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menuContent button:hover {
    background-color: #0056a3;
}
.custom-marker div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.legend-snoskred {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width:70px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend-snoskred img {
    vertical-align: middle;
    margin-right: 5px;
}

.north-arrow {
    position: absolute;
    bottom: 10px; /* Plasser pilen 10px fra bunnen */
    right: 10px;   /* Plasser pilen 10px fra venstre */
    width: 50px;
    height: 50px;
    background-image: url('./images/north-arrow.png'); /* Sett riktig filbane */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000; /* Sørg for at pilen vises over kartet */
    opacity: 0.8;  /* Gjør pilen litt gjennomsiktig */
}